footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 23px;
    padding: 4px 4px;
    background-color: #714384;
    font-family: "ProximaNova";
    color: white;
}
